.input-group-prepend{
    width: 20%;
}

.input-group-text{
    width: 100%;
}
#imatges> .card {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

#logo{
    height: 5%;
    width: 5%;
}

.bg-black{
    background-color: black;
}
